body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(244, 249, 255);
  align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  left: 50%;
}

#calculator {
  width: 24rem;
  border: 1px solid rgb(39, 37, 37);
  text-align: center;
  margin-top: 8rem;
}

#inputVal {
  width: 22.9rem;
  background-color: rgb(144, 135, 135);
  text-align: end;
  padding: 0.55rem;
  font-size: 18px;
  color: rgb(255, 255, 255);
  height: 1.5rem;
}

#row1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row5 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#divide,
#multiply,
#minus,
#plus,
#equalSign {
  background-color: rgb(237, 131, 31);
  padding: 0.5rem;
}
