body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 233, 158);
  align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  left: 50%;
}

.navbar {
  width: 100%;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  width: 40%;
}

li {
  display: inline;
  list-style: none;
  font-size: 18px;
  color: rgb(39, 38, 38);
  padding: 1rem;
}

.heading {
  font-size: 30px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 23px;
  font-weight: 600;
  color: rgb(3, 130, 18);
}

.par1 {
  width: 70%;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.par2 {
  width: 70%;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.quote {
  padding: 1rem;
  position: absolute;
  top: 8rem;
  font-size: 16px;
}

#calculator {
  width: 24rem;
  border: 1px solid rgb(39, 37, 37);
  text-align: center;
  margin: 8rem 1rem auto auto;
}

.mathin {
  position: absolute;
  top: 6.5rem;
  color: rgb(153, 0, 0);
}

#inputVal {
  width: 22.9rem;
  background-color: rgb(144, 135, 135);
  text-align: end;
  padding: 0.55rem;
  font-size: 18px;
  color: rgb(255, 255, 255);
  height: 1.5rem;
}

#row1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row5 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#divide,
#multiply,
#minus,
#plus,
#equalSign {
  background-color: rgb(237, 131, 31);
  padding: 0.5rem;
}
