body {
  width: 100%;
  background-color: rgb(216, 223, 230);
}

#calculator {
  width: 50%;
  border: 1px solid rgb(39, 37, 37);
}

#inputVal {
  width: 100%;
  background-color: rgb(144, 135, 135);
}

#row1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#row5 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#divide,
#multiply,
#minus,
#plus,
#equalSign {
  background-color: rgb(237, 131, 31);
}
